body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

#drum-machine {
  flex-direction: column;
  align-items: center;
  background-color: #61dafb;
  border-radius: 10px;
  padding: 20px;
}

.drum-pad {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  background-color: #61dafb;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: #5bc0de;
}

#display {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;

  color: #fff;
}


